.badge-inset {
    display: inline;
    color: $gscaleA;
    font-size: 12px;
    margin-left: 5px;
    background: $gscale0;
    border: 1px solid $gscale3;
    border-radius: $baseRadius;
    padding: 3px 7px;
}
