.view-content-edit.view-content-edit-composition main .main-container {

	.page-panel.left-panel {
		flex: 1;

		.form-holder {
			margin: 20px 20px 20px 10px;
			flex: 1;
		}
	}

	.page-content {
		flex: 2;
	}

	.page-panel.right-panel {
		flex: 1;
	}

	.toolbar {
		margin: 20px;
	}

	.screen-holder {
		//display: flex;
		//flex-direction: row;
		display: flex;
		flex-direction: column;
		width: 100%;
		position: relative;
		padding-top: 56.25%; /* 16:9 aspect ratio */
		overflow: hidden;
		border-radius: $baseRadius;
		outline: 4px solid rgba($gscaleF, .1);


		.screen {
			background-color: #ddd;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: none;

			.element {
				position: absolute !important;
				background-color: $gkscaleE;
				outline: 1px solid $gkscaleC;
				text-align: center;
				box-sizing: border-box;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				&.focused {
					border: none;
					outline: 2px solid $seaBlue;
					z-index: 89 !important;

					.ui-resizable-handle {
						display: block;
					}
				}

				i {
					font-size: 20px;
					color: $gkscaleC;
					&.fa-cog {
						text-shadow: 0 -2px $gkscaleB, 0 0px 2px $gkscaleB;
					}
				}

				.rotate-handle {
					width: 10px;
					height: 10px;
					background-color: red;
					position: absolute;
					top: 50%;
					right: -15px;
					cursor: pointer;
					transform: translateY(-50%);
				}

				.ui-resizable-handle {
					background: $gkscaleA;
					border: 1px solid $gkscale5;
					width: 10px;
					height: 10px;
					z-index: 90;
					display: none;
					position: absolute;

					&.ui-resizable-nw {
						cursor: nw-resize;
						top: -5px;
						left: -5px;
					}

					&.ui-resizable-ne {
						cursor: ne-resize;
						top: -5px;
						right: -5px;
					}

					&.ui-resizable-sw {
						cursor: sw-resize;
						bottom: -5px;
						left: -5px;
					}

					&.ui-resizable-se {
						cursor: se-resize;
						bottom: -5px;
						right: -5px;
					}
				}
			}
		}
	}

	.elements-holder {
		align-self: stretch;

		h3 {
			font-size: 16px;
			font-weight: 500;
			color: $gscaleD;
			text-decoration: none;
			margin: 0 0 20px 0;

			&.divide {
				border-top: 1px solid $gscale2;
				margin-top: 10px;
				padding-top: 20px;
			}
		}

		.form-elements-list {
			background: $gscale2;
			padding: 10px;
			border-radius: $baseRadius;

			.element-list-item {
				cursor: pointer;
				padding: 5px;
				border: 1px solid #ccc;
				margin-bottom: 5px;

				&.focused {
					background-color: #d0ebff;
				}
			}
		}
	}


	.form-element-properties {
		flex: 1;
		align-self: stretch;

		form {
			display: flex;
			flex-direction: column;

			h3 {
				font-size: 16px;
				font-weight: 500;
				color: $gscaleD;
				text-decoration: none;
				border-bottom: 1px solid $gscale2;
				margin-bottom: 20px;
				padding-bottom: 10px;
				align-self: stretch;
			}

			.form-group {
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				display: flex;

				label {
					flex-grow: 1;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;
					display: flex;
					font-weight: bold;
					margin-right: 10px;
				}

				.widget {
					flex-grow: 1;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;
					display: flex;
					margin: 0;

					input {
						flex: 1;
						margin: 0;

						&[disabled] {
							padding: 8px 0 5px 8px;
							border: 1px solid rgba(255,255,255,.05);
						}
					}
				}
			}


		}
	}


}





